html {
  background-color: #fff;
  height: 100%;
}

html, body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: auto;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(34,40,63,0.3);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(230,230,32,0.5);
    outline: 1px solid rgba(230,230,32,1);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

label {
  display: inline-block;
}

img {
  height: 100vh;
  width: 100%;
}

p {
  font-size: 18px;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
iframe {
  @media only screen and (min-width: 768px) {
    height: 100%;
    width: 100%;
  }
}
