.scroll-cta {
  cursor: pointer;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  width: 15%;
  display: block;
  z-index: 999;
  @media only screen and (min-width: 360px) {
    position: fixed;
    bottom: 0;
    left: -4%;
  }
  &:after {
    background-image: url("/assets/images/icons/arrow-down.png");
    background-position: 0 20px;
    background-repeat: no-repeat;
    background-size: 95%;
    background-clip: content-box;
    color: $vivid_red;
    content: "";
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    height: 30px;
    width: 40px;
  }
  &:hover,&:active, &:focus {
    &:after {
      animation: 0;
    }
  }
}

.animate {
  @media only screen and (min-width: 360px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:after {
    animation: bounce 2s infinite ease-in-out;
  }
}
