.landing {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  min-height: 100vh; //If Content is less than viewport else
  position: relative;
  overflow: hidden;
  &:before {
    background: url('https://images.unsplash.com/photo-1485504750689-aa2121ffe6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1083&q=80')no-repeat center bottom /cover;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__video {
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
    width: 100%;
  }
  &__intro {
    margin: 0 auto;
    position: relative;
    overflow: auto;
  }
  &__inner {
    display: inline-block;
    @media only screen and (min-width: 330px) {
      padding: 60% 0 0;
    }
    @media only screen and (min-width: 600px)  {
      padding: 40% 0 0;
    }
    @media only screen and (min-width: 1000px) {
      padding: 15em 0 10%
    }
  }
}
